<div class="hero-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark custom-toggler">
    <a class="navbar-brand" href="/">NYT Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div id="button-scrape" class="nav-link nav-button">Scrape New Articles </div>
        </li>
        <li class="nav-item">
          <div id="button-clear" class="nav-link nav-button">Clear Articles </div>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <h1>New York Times Scraper</h1>
    <h2>See the latest articles</h2>
  </header>
</div>

<div class="container">
  {{#if articles}}
  {{#each articles}}
  <a target="_blank" href="{{this.link}}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.summary}}</p>
      </div>
    </div>
    <a>
      {{/each}}
      {{else}}
      <h3>There aren't any news articles scraped yet!</h3>
      {{/if}}
</div>

<script src="./app.js"></script>