* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.navbar {
  background-color: #2980b9;
}

.navbar-dark .navbar-nav .nav-button {
  font-size: 80%;
  margin: 0 5px;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
  background-color: #236d9d;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-button:hover,
.navbar-dark .navbar-nav .nav-button:active {
  background-color: #1d5a81;
  border-radius: 8px;
  color: #fff;
}

.hero-wrapper {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-image: url(./typewriter.jpg);
}

header {
  position: absolute;
  width: 1140px;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}

h1 {
  font-size: 95%;
  margin-bottom: 0;
}

h2 {
  font-size: 82%;
}

h3 {
  background-color: #2980b9;
  color: white;
  padding: 20px;
  border-radius: 3px;
  margin: 20px 0;
  font-size: 90%;
  text-align: center;
}

.container a:link,
.container a:visited {
  text-decoration: none;
}

.container .card {
  margin: 25px 0;
}

.container .card .card-body {
  padding: 0;
}

.container .card .card-body .card-title {
  font-size: 90%;
  background-color: #2980b9;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  transition: color 0.2s, background-color 0.2s;
}

.container .card .card-body .card-title:hover,
.container .card .card-body .card-title:active {
  text-decoration: underline;
}

.container .card .card-body .card-text {
  font-size: 80%;
  color: #444;
  padding: 5px 20px 20px;
}
